<%= render "shared/header" %>
<div class='main'>

  <div class='logout-flash-message'>
    <% flash[:notice] %>
    <% flash[:alert] %>
  </div>

  <%# 画面上部の「杵築で織りなす逸品」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      情熱で織りなす逸品<br>大分・杵築からあなたの笑顔のために
    </h2>
  </div>
  <%# /画面上部の「杵築で織りなす逸品」帯部分  %>

  <%# きつきパパイヤ農園の３つの特徴 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      きつきパパイヤ農園の３つの特徴
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "papaya-intro01.jpg", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          豊かな
          <span class='reason-list-blue-text'>自然環境</span>
        </h3>
        <p class='reason-list-description'>
          美しい自然環境に恵まれており、高品質のパパイヤ栽培に適しています！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "papaya-intro02.jpg", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>青パパイヤ</span>
          を栽培
        </h3>
        <p class='reason-list-description'>
          パパイヤの中でも特に栄養価の高い青パパイヤを栽培しています
        </p>
      </li>
      <li class='list'>
        <%= image_tag "papaya-intro03.JPG", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>オーナー制度</span>
          導入
        </h3>
        <p class='reason-list-description'>
          パパイヤの木のオーナーになることで、収穫された果実や、食べやすく加工した特産品をお手元にお届けします！
        </p>
      </li>
    </ul>
  </div>
  <%# /きつきパパイヤ農園の３つの特徴 %>

  <%# 画面中央の「コンセプト」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      コンセプト
    </h2>
    <p class='ad-explain'>
      私たちは下記の理念の基、きつきパパイヤ農園を経営しています。
    </p>
  </div>
  <%# /画面中央の「コンセプト」帯部分 %>

  <%# 商品一覧 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      商品一覧
    </h2>
    <ul class='reason-lists'>
      <li class='list-items'>
        <%= image_tag "papaya-intro02.jpg", class:"list-pict" %>
        <h3 class='reason-list-text-item'>
          パパイヤキムチ（１００グラム）
        </h3>
        <p class='reason-list-description-item'>
          １，０００円（税込・送料別）
        </p>
      </li>
      <li class='list-items'>
        <%= image_tag "papaya-intro02.jpg", class:"list-pict" %>
        <h3 class='reason-list-text-item'>
          パパイヤキムチ（４００グラム）
        </h3>
        <p class='reason-list-description-item'>
          ３，５００円（税込・送料別）
        </p>
      </li>
      <li class='list-items'>
        <%= image_tag "papaya-intro02.jpg", class:"list-pict" %>
        <h3 class='reason-list-text-item'>
          パパイヤの果実
        </h3>
        <p class='reason-list-description-item'>
          １，０００円（税込・送料別）
        </p>
      </li>
    </ul>
    <ul class='reason-lists-2'>
      <li class='list-items'>
        <%= image_tag "papaya-intro02.jpg", class:"list-pict" %>
        <h3 class='reason-list-text-item'>
          パパイヤの木<br>オーナー権（１本）
        </h3>
        <p class='reason-list-description-item'>
          １２，０００円／年（税込・送料別）
        </p>
      </li>
      <li class='list-items'>
        <%= image_tag "papaya-intro02.jpg", class:"list-pict" %>
        <h3 class='reason-list-text-item'>
          パパイヤの木<br>オーナー権（５本）
        </h3>
        <p class='reason-list-description-item'>
          ５０，０００円／年（税込・送料別）
        </p>
      </li>
    </ul>
  </div>

  <%# 農地案内 %>
  <div class= "map">
    <h2 class="title">
    農地案内
    </h2>
  </div>
  <%# /農地案内 %>
  
  <%# お問い合わせ %>
  <div class= "connect">
    <h2 class="title">
    お問い合わせ
    </h2>
  </div>
  <%# /お問い合わせ %>
</div>
<%= render "shared/footer" %>