<%= render "shared/header" %>
<div class='main'>

  <div class='logout-flash-message'>
    <% flash[:notice] %>
    <% flash[:alert] %>
  </div>

  <%# 画面上部の「杵築で織りなす逸品」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      情熱で織りなす逸品<br>大分・杵築からあなたの笑顔のために
    </h2>
  </div>
  <%# /画面上部の「杵築で織りなす逸品」帯部分  %>

  <%# きつきパパイヤ農園の３つの特徴 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      きつきパパイヤ農園の３つの特徴
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "papaya-intro01.jpg", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          豊かな
          <span class='reason-list-blue-text'>自然環境</span>
        </h3>
        <p class='reason-list-description'>
          美しい自然環境に恵まれており、高品質のパパイヤ栽培に適しています！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "papaya-intro02.jpg", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>青パパイヤ</span>
          を栽培
        </h3>
        <p class='reason-list-description'>
          パパイヤの中でも特に栄養価の高い青パパイヤを栽培しています
        </p>
      </li>
      <li class='list'>
        <%= image_tag "papaya-intro03.JPG", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>オーナー制度</span>
          導入
        </h3>
        <p class='reason-list-description'>
          パパイヤの木のオーナーになることで、収穫された果実や、食べやすく加工した特産品をお手元にお届けします！
        </p>
      </li>
    </ul>
  </div>
  <%# /きつきパパイヤ農園の３つの特徴 %>

  <%# 画面中央の「商品紹介」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      会員数日本一位
    </h2>
    <p class='ad-explain'>
      FURIMAは、フリマアプリで最も人気。
    </p>
    <p class='ad-explain'>
      出品・購入回数も業界最多です！
    </p>
    <p class='ad-explain'>
      ほしかったあの商品に出会えるかもしれません。
    </p>
  </div>
  <%# /画面中央の「商品紹介」帯部分 %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>商品紹介</h2>
    <div class="subtitle" >
      取扱商品の一覧表です。
    </div>
    <p>※注文状況や時期によって、発送に時間を要する場合がございます。お急ぎの場合はお問い合わせフォームからご一報ください。</p>
    <ul class='item-lists'>
      <% new_items = @items.order(created_at: :desc).limit(3) %>
      <% if new_items.present? %>
        <% new_items.each do |item| %>
          <li class='list'>
            <%= link_to item_path(item) do %>
              <div class='item-img-content'>
                <%= image_tag item.image, class: "item-img" %>
                <% if item.sold_out? %>
                  <div class='sold-out'>
                    <span>Sold Out!!</span>
                  </div>
                <% end %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= item.name %>
                </h3>
                <div class='item-price'>
                  <span><%= item.price %>円<br><%= item.send_cost.name %></span>
                  <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% else %>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
  <%# 農地案内 %>
  <%# /農地案内 %>
  <%# お問い合わせ %>
  <%# /お問い合わせ %>
</div>
<%= render "shared/footer" %>