<%= render "shared/header" %>
<div class='main'>

  <div class='logout-flash-message'>
    <% flash[:notice] %>
    <% flash[:alert] %>
  </div>

  <%# 画面上部の「杵築で織りなす逸品」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      情熱で織りなす逸品<br>大分・杵築からあなたの笑顔のために
    </h2>
  </div>
  <%# /画面上部の「杵築で織りなす逸品」帯部分  %>

  <%# きつきパパイヤ農園の３つの特徴 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      きつきパパイヤ農園の３つの特徴
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "papaya-intro01.jpg", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          豊かな
          <span class='reason-list-blue-text'>自然環境</span>
        </h3>
        <p class='reason-list-description'>
          美しい自然環境に恵まれており、高品質のパパイヤ栽培に適しています！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "papaya-intro02.jpg", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>青パパイヤ</span>
          を栽培
        </h3>
        <p class='reason-list-description'>
          パパイヤの中でも特に栄養価の高い青パパイヤを栽培しています
        </p>
      </li>
      <li class='list'>
        <%= image_tag "papaya-intro03.JPG", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>オーナー制度</span>
          導入
        </h3>
        <p class='reason-list-description'>
          パパイヤの木のオーナーになることで、収穫された果実や、食べやすく加工した特産品をお手元にお届けします！
        </p>
      </li>
    </ul>
  </div>
  <%# /きつきパパイヤ農園の３つの特徴 %>

  <%# 画面中央の「コンセプト」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      コンセプト
    </h2>
    <p class='ad-explain'>
      私たちは下記の理念の基、きつきパパイヤ農園を経営しています。
    </p>
  </div>
  <div class="concept-contents">
    <div class="concept-content">
      <h2 class="concept-top">1.増え続ける<span class='reason-list-blue-text'>休眠農地</span>を無くしたい</h2>
      <p class="concept-body">農家の高齢化による休眠農地が増え、農地の荒廃が進んでいます。パパイヤ栽培により、この農地の有効活用を行なっています。</p>
    </div>
    <div class="concept-content">
      <h2 class="concept-top">2.<span class='reason-list-blue-text'>農家の収入アップ</span>と<span class='reason-list-blue-text'>消費者の農作物確保</span></h2>
      <p class="concept-body">農家と消費者ともに農産物を加工協力することにより、栽培の安定、収入アップを計ります。また、安心・安全・新鮮な農作物の確保に繋げて行きます。</p>
    </div>
    <div class="concept-content">
      <h2 class="concept-top">3.これから先の<span class='reason-list-blue-text'>食糧危機</span>に備えて備えての準備</h2>
      <p class="concept-body">これから起こり得る食物危機に向けて、一人一人が農作確保するための土台を作ります。</p>
    </div>
    <div class="concept-content">
      <h2 class="concept-top">4.若年層の<span class='reason-list-blue-text'>農業離れ</span>に歯止めをかける</h2>
      <p class="concept-body">「汚い・儲からない・休みがない」という理由で農業に関わらない若年層の意識改革を行うきっかけを作ります。</p>
    </div>
    <div class="concept-content">
      <h2 class="concept-top">5.<span class='reason-list-blue-text'>子供たちの「食」</span>への関心のきっかけ作り</h2>
      <p class="concept-body">子供たちに農作業や食文化へ興味を持ってもらう機会を提供し、「食」を通じた「こころ」を育てます。</p>
    </div>
    <div class="concept-content">
      <h2 class="concept-top">6.社会への<span class='reason-list-blue-text'>貢献</span></h2>
      <p class="concept-body">売上の一部をボランティア団体に寄附し、社会貢献活動を行います。</p>
    </div>
  </div>
  <%# /画面中央の「コンセプト」帯部分 %>

  <%# 商品一覧 %>
  
  <div class='select-reason-contents'>
    <h2 class='title' id="items-top">
      商品一覧
    </h2>
    <ul class='reason-lists'>
      <li class='list-items'>
        <a href ="#">
          <%= image_tag "papaya-intro02.jpg", class:"list-pict" %>
        </a>
        <h3 class='reason-list-text-item'>
          パパイヤキムチ（１００グラム）
        </h3>
        <p class='reason-list-description-item'>
          １，０００円（税込・送料別）
        </p>
      </li>
      <li class='list-items'>
        <a href ="#">
          <%= image_tag "papaya-intro02.jpg", class:"list-pict" %>
        </a>
        <h3 class='reason-list-text-item'>
          パパイヤキムチ（４００グラム）
        </h3>
        <p class='reason-list-description-item'>
          ３，５００円（税込・送料別）
        </p>
      </li>
      <li class='list-items'>
        <a href ="#">
          <%= image_tag "papaya-intro02.jpg", class:"list-pict" %>
        </a>
        <h3 class='reason-list-text-item'>
          パパイヤの果実
        </h3>
        <p class='reason-list-description-item'>
          １，０００円（税込・送料別）
        </p>
      </li>
    </ul>
    <ul class='reason-lists-2'>
      <li class='list-items'>
        <a href ="#">
          <%= image_tag "papaya-intro02.jpg", class:"list-pict" %>
        </a>
        <h3 class='reason-list-text-item'>
          パパイヤの木<br>オーナー権（１本）
        </h3>
        <p class='reason-list-description-item'>
          １２，０００円／年（税込・送料別）
        </p>
      </li>
      <li class='list-items'>
        <a href ="#">
          <%= image_tag "papaya-intro02.jpg", class:"list-pict" %>
        </a>
        <h3 class='reason-list-text-item'>
          パパイヤの木<br>オーナー権（５本）
        </h3>
        <p class='reason-list-description-item'>
          ５０，０００円／年（税込・送料別）
        </p>
      </li>
    </ul>
  </div>

  <%# 農地案内 %>
  <div class= "map">
    <h2 class="title" id="map-top">
    農地案内
    </h2>
    <div class="map-body">
      <h3 class="address">
      住所：大分県杵築市大字新庄
      </h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6747.009400023554!2d131.59792864755192!3d33.39908299116475!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354418792fbb18d5%3A0x2e8958864185d5c3!2z5paw5bqE5qeL6YCg5pS55ZaE44K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1695928089903!5m2!1sja!2sjp"   style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="address-map"></iframe>
    </div>
  </div>
  <%# /農地案内 %>
  
  <%# お問い合わせ %>
  <div class= "connect">
    <h2 class="title" id="connect-top">
    お問い合わせ
    </h2>
    <div class="connect-body">
        <form action="#" method="POST">
        <label for="name">名前：</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="email">メールアドレス：</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="message">メッセージ：</label><br>
        <textarea id="message" name="message" rows="4" required></textarea><br><br>
        <input type="submit" value="送信">
    </div>
  </div>
  <%# /お問い合わせ %>
</div>
<%= render "shared/footer" %>